header {
  margin-bottom: 1em;
}

main {
  max-width: 100%;
}


/*************************
          Carousel
**************************/

.hero-container {
  max-width: 100%;
}

.hero-container img {
  width: 100%;
}
