header {
  margin-bottom: 1em;
}

main {
  max-width: 100%;
}

.template {
  display: none;
}
/*************************
          Carousel
**************************/

.hero-container {
  max-width: 100%;
}

.hero-container img {
  width: 100%;
}
