/*************************
          HEADER
**************************/

.header-top {
  width: 100%;
  height: 3em;
  position: relative;
}

.name-logo {
  position: absolute;
  top: .25em;
  left: .25em;
  font-size: 2em;
}

.icon-menu {
  position: absolute;
  top: .2em;
  right: .2em;
  font-size: 2em;
}

/*************************
          Carousel
**************************/

.hero-container {
  position: relative;
}

.hero-textoverlay {
  position: absolute;
  top: 3em;
  left: 3em;
  right: 8em;
  border-radius: 5px;
  border: 1px black solid;
  background: rgba(200, 54, 54, 0.5);
}

.hero-textoverlay p {
  padding: .3em .3em;
}
