html {
  font-family: 'Raleway', sans-serif;
}

header {
  background-color: grey;
}

a {
  text-decoration: none;
  color: black;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
